.projects {
  padding-left: 30px;
  padding-right: 30px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
  box-shadow: 1px 1px 10px 1px grey;
}

.project-card img {
  aspect-ratio: 16/10;
  width: 100%;
}

.project-info {
  padding: 5px;
}
